@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--txt);

}

html, body {
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color: #000;
}

.dropdown {
    position: absolute;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    z-index: 1000;
}
  
.dropdown li {
    list-style: none;
<<<<<<< HEAD
    text-decoration-color: #ccc;
  }
  
  .dropdown a {
    text-decoration-color: #ccc;
  }
  
  .dropdown a:hover {
    background-color: #f0f0f0;
  }
=======
}
  
.dropdown a {
    text-decoration: none;
    color: black;
}
  
.dropdown a:hover {
    background-color: #f0f0f0;
}
>>>>>>> 6b5d0d1451da5b7ef7544d99fe788bad85114e49

body {
    background: var(--background);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    width: 100% !important;
}

nav {
    background-color: #cccefa;
    height: 70px;
    backdrop-filter: blur(4px);
    border-bottom: 0.1px solid grey;
    display: flex; /* Ensure flex layout */
    align-items: center; /* Center items vertically */
    justify-content: space-between; /* Space out items */
    padding: 0; /* Padding for nav */
}

.heading {
    color: var(--heading);
}

nav ul {
    display: flex;
    list-style: none;
    gap: 5px;
}

.dropdown-li {
    position: relative;
}

ul li ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: 0;
    display: none;
    background: var(--primary);
}

.show-dropdown {
    visibility: visible;
    opacity: 10000000;
    display: block;
    min-width: 250px;
    text-align: left;
    padding-top: 20px;
    box-shadow: 0px 3px 5px -1px var(--heading);
}

.down-arrow-icon {
    height: 16px;
    width: 16px;
    padding-top: 2px;
    transition: 0.2s ease-in-out;
}

.down-arrow-icon > path {
    color: var(--heading) !important;
}

.down-arrow-icon-active {
    transform: rotate(-180deg);
}

.dropdown {
    min-height: 10vh;
    height: 50vh;
    overflow: auto;
    top: 30px;
}

ul li ul li {
    clear: both;
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
    border-style: none;
}

ul li ul li a:hover {
    padding-left: 10px;
    border-left: 2px solid #3ca0e7;
    transition: all 0.3s ease;
}

.flags {
    height: 30px;
    width: 30px;
}

.ham-burger {
    display: none;
    z-index: 100;
    cursor: pointer;
}

.ham-burger:hover {
    cursor: pointer;
}

.ham-open .line-1 {
    transform: translateY(8px) rotate(45deg);
}

.ham-open .line-2 {
    width: 0;
}

.ham-open .line-3 {
    transform: translateY(-7px) rotate(-45deg);
}

.lines {
    width: 30px;
    height: 3px;
    background: var(--heading);
    display: block;
    margin: 5px 0;
    transition: transform 1s, width 0.5s;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.checkbox-label {
    background-color: #111;
    width: 50px;
    height: 26px;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fa-moon {color: #f1c40f;}
.fa-sun {color: #f39c12;}

.checkbox-label .ball {
    background-color: #fff;
    width: 22px;
    height: 22px;
    position: absolute;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
    transform: translateX(24px);
}

<<<<<<< HEAD
.search-bar {
    background-color: #ccc;
    height: 25px; 
    width:200px;
    border: 1px solid #ccc; 
    border-radius: 4px; 
    padding: 0 10px; 
    margin-right: 10px;
=======
.search-box {
    background: var(--search-background);
    height: 100px; /* Ensure it's tall enough */
    border: 1px solid #ccc; /* Add border for visibility */
    border-radius: 4px; /* Slightly rounded corners */
    padding: 0 10px; /* Padding for input */
    margin-right: 10px; /* Space between search box and the next element */
>>>>>>> 6b5d0d1451da5b7ef7544d99fe788bad85114e49
}

.icon {
    /* Adjust the margin to create spacing */
    margin-left: 5px; /* Add this line to create padding between the search box and the icon */
}
.search-container {
    display: flex;
    align-items: center; /* Align items vertically */
}



.btn {
    background-color: #3ca0e7; /* Changed to blue */
    color: white; /* Changed text color to white */
    width: 130.51px;
    height: 50px;
    border-top-right-radius: 4px;
    margin-left: -2px;
    border-bottom-right-radius: 4px;
}

.pagination-btn {
    background-color: #3ca0e7; /* Changed to blue */
    color: white; /* Changed text color to white */
    width: 130.51px;
    height: 50px;
    border-radius: 34px;
    background-color: #ccc;
}

.everything-card {
    width: 400px;
    height: 500px;
    border-radius: 15px;
    overflow-y:auto;
    overflow-x:hidden;
    background-color:rgb(37, 37, 27);
    box-shadow: 
        0 0 10px rgb(37, 37, 27),
        0 0 10px rgb(37, 37, 27),
        0 0 10px rgb(37, 37, 27),
        0 0 10px rgb(37, 37, 27);
}

.everything-card:hover {
    transform: translateY(-2px);
    transition: transform 0.2s ease-in-out;
    background: var(--primary);
    box-shadow: 0 0 11px grey; 
    background-color: grey;
}

.everything-card-img {
    width: 280px;
    height: 150px;
    border-radius: 10px;
}

.title {
    font-family: "Freeman", sans-serif;
    font-weight: 400;
    font-size: 22px;
}

footer {
    color: var(--btn-color);
    background: var(--heading);
}

.loader-container {
    height: 100vh;
    padding: 0; 
    align-items: center;
}

.loader {
    width: 50px;
    aspect-ratio: 1;
    display: grid;
    color: var(--heading);
    background: radial-gradient(farthest-side, currentColor calc(100% - 6px), #0000 calc(100% - 5px) 0);
    -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 13px), #000 calc(100% - 12px));
    border-radius: 50%;
    animation: l19 2s infinite linear;
}

.loader::before,
.loader::after {    
    content: "";
    grid-area: 1/1;
    background:
        linear-gradient(currentColor 0 0) center,
        linear-gradient(currentColor 0 0) center;
    background-size: 100% 10px, 10px 100%;
    background-repeat: no-repeat;
}

.loader::after {
    transform: rotate(45deg);
}

@keyframes l19 { 
    100% { transform: rotate(1turn) }
}

/* Responsive styles */
@media (max-width: 1024px) {
    .cards {
        place-items: center;
    }
}

@media only screen and (min-width: 640px) and (max-width: 689px) {
    nav {
        justify-content: space-between !important;
        padding: 0 15% !important;
    }
}

@media (max-width: 689px) {
    .btn {
        width: 80px;
        height: 40px;
    }

    .search-box {
        height: 39px;
        width: 70%;
    }

    .ham-burger {
        display: block;
    }

    nav ul {
        display: none;
        flex-direction: column;
        position: fixed;
        top: 70px;
        left: -100%;
        width: 100%;
        height: calc(100vh - 70px);
        background-color: var(--primary);
        z-index: 1;
        padding: 5% 5%;
        transition: 0.3s;
        gap: 5px;
    }

    nav ul.active {
        left: 0;
        display: flex;
    }

    .everything-card {
        width: 300px;
        height: 400px;
    }

    .everything-card-img {
        width: 200px;
        height: 100px;
    }

    .title {
        font-size: 16px;
    }
}
.live-scores {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.score-list {
    list-style-type: none;
}

<<<<<<< HEAD
.absolute {
    position: absolute;
  }
  
  .bg-white {
    background-color: white;
  }
  
  .text-black {
    color: black;
  }
  
  .hover\:bg-gray-200:hover {
    background-color: #e2e8f0;
  }
  
  .shadow-lg {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  }
  
  .p-2 {
    padding: 0.5rem;
  }
  
  .rounded {
    border-radius: 0.25rem;
  }

  
  .save-button {
    background-color: #e2e8f0;
    padding: 5px 10px;
    border: 2px solid #000;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s, transform 0.3s, border-radius 0.3s;
    width: 60px;     
    height: 30px; 
    display: flex;           /* Enables flexbox */
    align-items: center;     /* Centers content vertically */
    justify-content: center; /* Centers content horizontally */
    outline: 2px solid transparent; /* Sets transparent outline */
}

.save-button:hover {
    background-color: #cccefa;
    border-radius: 20px;
}

.search-btn:hover{
    background-color: #3ca0e7;
    border-radius: 15px;
    width:70px;
}

  
=======
.score-item {
    margin: 10px 0;
}
>>>>>>> 6b5d0d1451da5b7ef7544d99fe788bad85114e49
